//- Based on Soulwire's Shuffle Grid Menu
//- http://blog.soulwire.co.uk/code/open-source/as3-drag-drop-shuffle-grid-menu

//- Icons courtesy of iynque
//- http://iynque.deviantart.com/art/iOS-7-Icons-Updated-378969049

.icons-list
  ul
    li
      .appstore
        span App Store
    li
      .calculator
        span Calculator
    li
      .calendar
        span Calendar
    li
      .camera
        span Camera
    li
      .compass
        span Compass
    li
      .itunesstore
        span iTunes
    li
      .mail
        span Mail
    li
      .maps
        span Maps
    li
      .music
        span Music
    li
      .passbook
        span Passbook
    li
      .photos
        span Photos
    li
      .reminders
        span Reminders
    li
      .safari
        span Safari
    li
      .stocks
        span Stocks
    li
      .weather
        span Weather
    li
      .facetime
        span FaceTime
    li
      .newsstand
        span Newsstand
    li
      .videos
        span Videos
    li
      .notes
        span Notes
    li.placeholder
      .twitter
        span Twitter
    li
      .phone
        span Phone
    li
      .messages
        span Messages
    li
      .clock
        span Clock
    li
      .settings
        span Settings
        
  .info
    h4 iOS apps reordering done right :)
    p Use mouse to drag and drop (Webkit only)
