#finder
  #toolbar
    #traffic-light
      #red
      #yellow
      #green
    #windowname
      %i
      All My Files
    #actions
      #back
      #next
      #iconV
      #list
      #grid
      #coverflow
        %i.view
      #settings
      #share
      %input{:type => 'search', :results => '0'}
  #view
    #sidebar
      %ul
        %li
          %span.group
            Favorites
          %ul
            %li.current_page
              %i.afiles
              All My Files
            %li
              %i.airdrop
              AirDrop
            %li
              %i.apps
              Applications
            %li
              %i.desk
              Desktop
            %li
              %i.docs
              Documents
            %li
              %i.downs
              Downloads
            %li
              %i.mov
              Movies
            %li
              %i.music
              Music
            %li
              %i.pic
              Pictures
        %li
          %span.group
            Shared
    #content
      .folder
        .icon
        %span
          Desktop
      .folder
        .icon
        %span
          Documents
      .folder
        .icon
        %span
          Downloads
      .folder
        .icon
        %span
          Movies
      .folder
        .icon
        %span
          Music
      .folder
        .icon
        %span
          Pictures
      .folder
        .icon
        %span
          Public