@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);
@import url(https://fonts.googleapis.com/css?family=Roboto);

#cp_get_pen {
  height: 60px;
  background: #42A5F5;
  line-height: 60px;
  text-align: center;
}

#cp_get_pen > input {
  height: 25px;
  width: 400px;
  border: 0;
  font-family: 'Roboto';
  background: #90CAF9;
  padding-left: 15px;
  font-size: 14px;
  color: #444;
}

#cp_editor_container {
  position: relative;
  width: 100vw;
  height: 300px;
  font-size: 0;
  display: flex;
}

.cp_editor {
  margin: auto;
  font-size: 15px;
  display: inline-block;
  width: calc(100vw / 3);
  border-left: 5px solid #eee;
  border-right: 5px solid #eee;
}

.CodeMirror-linenumber {
  font-family: 'Roboto Mono';

}
.CodeMirror pre {
  font-family: 'Roboto Mono';
}

.cp_editor_header {
  height: 32px;
  line-height: 32px;
  font-size: 15px;
  font-family: 'Roboto';
  color: #bbb;
  background: #eee;
}

.cp_commit_this {
  
}

.cp_editor_name {
}
